  /* Archivo CSS para clientes.html*/
.panel-primary h3 {
  margin-left: 2em;
}
#logos .list-group {
  width: auto;
  padding-left: 5%;
}
#logos .list-group-item {
  display: inline-block;
  border: none;
}
#logos .list-group-item a {
  display: block;
  vertical-align: middle;
}

/*media queries */
@media (max-width: 425px) {

  #logos .list-group {
    padding-left: 0px;
  }
}

@media (max-with: 768px) {
	#logos .list-group {
	padding-left: 5%;
	}
}
	