/* Archivo css para contacto.html */
/* Contenido */
.contenido h2{
	font-size:2em;
}
.rowtab {
		padding-top: 12em;
	padding-bottom: 12em;
}
#gmapa {
  padding: 2em;
}
#ocsamapa {
	width: 500px;
}
#caddress {
  padding: 2em;
}

@media (min-width:1024px){
	#gmapa {
		padding-left:15%;
		padding-right:4em;
	}
}
@media (min-width:768px){
	#gmapa {
		padding-left:20%;
		padding-right:4em;
	}
}
@media (min-width:425px){
	#gmapa {
	  padding-right:0px;
		padding-left:0px;
		padding-bottom: 0px;
	}
	#ocsamapa {
		width: 100%;
	}
}
