/* Archivo css para contacto.html */
/* Contenido */
.contenido h2{
	font-size:2em;
}
.rowtab {
	padding-bottom: 2em;
}
#gmapa {
  padding: 2em;
}
#ocsamapa {
	width: 500px;
}
#caddress {
  padding: 2em;
}
@media (max-width:425px){
	#gmapa {
	  padding-right:0px;
		padding-left:0px;
		padding-bottom: 0px;
	}
	#ocsamapa {
		width: 100%;
	}
}
@media (max-width:780px){
	#gmapa {
		padding-left:10%;
		padding-right:4em;
	}
}
@media (min-width:1024px){
	#gmapa {
		padding-left:30%;
		padding-right:4em;
	}
}
