  /* Archivo CSS propio sobre boostrap.css*/
/* Cuerpo*/
body {
   padding-top: 70px;
   font-family: 'Cabin', sans-serif;
   font-size: 1.5em;
 }
 /* Barra de navegacion superior*/
 .navbar {
   min-height: 70px;
   font-size: 1.25em;
 }
.navbar-default {
  background-color: #ffffff;
}
.container {
  padding-top: 10px;
}
#navbar {
  padding-top: 6px;
}
.nav>li>a {
  color: #000252;
}
.nav>li>a:hover {
  background-color: #286090;
  color: #ffffff;
}
.nav>li>a:focus {
  /* #cc0033 == color logo*/
  background-color: #cc0033;
  color: #ffffff;
}
#language {
  margin-top: 5px;
  color: #cc0033;
}
#language:hover {
  background-color: #cc0033;
  color: #ffffff;
}
#language:focus {
  background-color: #cc0033;
  color: #ffffff;
}
.dropdown-menu>li>a:hover {
  background-color: #286090;
  color: #ffffff;
}
@media (max-width: 425px){
  .navbar {
    font-size: 2em;
  }
  .nav-pills>li {
    width: 100%;
  }
  .container .navbar-header{
    margin-left: 0;
  }
  #language {
    display:none !important;
  }
}
@media (min-width: 1200px){
  #navbar-container {
    width: 75%;
  }
}
/*Caracteristicas introSlide*/
.backSlide {
  background-color: black;
}
.carousel-inner img {
  margin: auto;
}
.carousel-caption {
  right: 0%;
  left: 0%;
  margin-left: -25em;
  padding-bottom: 5px;
}
.carousel-caption h3 {
    font-size: 3em;
    font-weight: bold;
}
@media (max-width: 768px){
  .backSlide {
    display:none !important;
    }
}
/*Caracteristicas sections*/
.sections img {
  display: block;
  margin: 0 auto;
}
.btn-section:hover {
  background-color: #286090;
  color: #ffffff;
}
.sections h2{
  text-align: center;
}
.sections p{
  text-align: justify;
}
/*Para PC (si menor o igual de 1024px)*/
@media (max-width: 425px){
  .btn-section{
    margin-left: 60%;
  }
}
/* Seccion pie*/
.pie {
  background-color: #000014;/* #004b0f or #003205*/
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
#address {
  padding-left: 30px;
  color: #ffffff;
}
#address h4 {
  font-size: 1.75em;
}
#Copyright {
  padding-top: 5px;
  padding-left: 10px;
  background-color: #ffffff;
  color: #000000;
}
#certificados img {
  padding: 38px;
}
@media (min-width: 992px){
  #imgcalidad {
    margin-top: 15%;
  }
}
@media (max-width: 768px){
  #imgcalidad {
    margin-left: -25%;
  }
}
@media (max-width: 425px){
  #imgcalidad {
    padding-top: 20px;
    margin-left: 25%;
  }
  #certificados {
    padding-top: 20px;
    margin-left: 25%;
  }
}
