  /* Archivo CSS para index.html*/
/*Caracteristicas introSlide*/
#introSlide {
  background-color: black;
}
.carousel-inner img {
  margin: auto;
}
.carousel-caption {
  right: 0%;
  left: 0%;
  margin-left: -25em;
  padding-bottom: 5px;
}
.carousel-caption h3 {
    font-size: 3em;
    font-weight: bold;
}
/*Caracteristicas presentation*/
#presentation {
  background-color: #eee;
  display: inline-block;
}
#presentation .row {
  display: inline-flex;
}
#presentation h1 {
  margin-left: 10%;
  font-weight: bold;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
/*Caracteristicas places*/
#places {
  background-color: #212121;
  display: inline-block;
  color: #eee;
  width: 100%;
}
#map{
  width: 80%;
  height: 600px;
}
#intermap{
  display: flex;
}
#listmap{
  font-size: 1.5em;
  padding-left: 5px;
  padding-right: 5px;
}
/*Caracteristicas sections*/
#sections .row {
  margin: 2em auto;
  display:
}
#sections .col-lg-4 {
  padding: 0 7%;
}
#sections img {
  display: block;
  margin: 0 auto;
}
.btn-section:hover {
  background-color: #286090;
  color: #ffffff;
}
.col-md-6 {
  padding-left: 5%;
  padding-right: 5%;
}
/* Media queries */
@media (max-width: 425px){
  #contenido .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  #presentation h1 {
    margin-left: 5%;
    font-size: 2em;
  }
  #presentation .row {
    display: inline-block;
  }
  #map {
    display:none !important;
  }
}
@media (max-width: 768px){
  #introSlide {
    display:none !important;
    }
}
@media (max-width: 1024px){
  .carousel-caption h3 {
      font-size: 2em;
      font-weight: bold;
  }
  .carousel-caption {
    margin-left: -20em;
  }

  #sections .col-lg-4 {
    padding: 0 15px;
  }
}
