  /* Archivo CSS propio sobre magnetometría.css*/

  /*Caracteristicas page-header*/
  .page-header {
    padding-top: 9px;
    padding-left: 100px;
    background-color: #eee;
    margin: 0 -15px;
  }
  .page-header h1 {
    margin-left: 10%;
    font-weight: bold;
  }
  hr {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: inset;
      border-width: 1px;
  }
    /*Caracteristicas row*/
  .contenido .row {
    display: inline-flex;
    margin-bottom: 15px;
  }
  #map_mag{
    display: block;
  }
  .contenido p{
    text-align: justify;
  }

  /* ----------Media queries---------- */
  /*Para moviles (si menor o igual de 425px)*/
  @media (max-width: 425px){
    .page-header {
      padding-left: 0px;
    }
    .page-header h1 {
      margin-left: 5%;
      font-size: 2em;
    }
    .contenido .row{
      display: block;
      margin: 0;
    }
  }
  /*Para tablet (si menor o igual de 768px)*/
  @media (max-width: 768px){

  }
  /*Para PC (si menor o igual de 1024px)*/
  @media (max-width: 1024px){

  }
