  /* Archivo css para Presentacion.html */
#texto {
  padding-top:15px;
  padding-left:15%;
  padding-right:15%;
}
#texto_equipo {
  padding-top:1em;
  padding-bottom:1em;
  padding-left:10%;
  padding-right:10%;
}
#texto_equipo img, .btn-linkedin {
  width:200px;
  display: block;
  margin: 0 auto;
}
#texto_equipo>p {
  width:200px;
  display: block;
  margin: 0 auto;
}
