/* Archivo CSS de proyectos.html */
.panel-primary h3 {
  margin-left: 2em;
}
#proyects .list-group {
  width: auto;
  padding-left: 5%;
}
.breadcrumb{
  background-color: #fff;
}
.list-group-item {
  display: inline-block;
  border: none;
}
#proyects a {
  color: #fff;
}
#proyects a:target {
  padding-top: 85px;
}
#proyects a:hover {
  text-decoration: none;
}

.ir-arriba {
	display:none;
	padding:20px;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}
