/* Arhivo css para tecnicas-geofisica.html */


.contenido .container-fluid {
  padding-left: 100px;
  padding-right: 100px;
}
/*Caracteristicas intro*/
.intro {
  background-color: #eee;
  display: inline-block;
}
.intro .row {
  display: inline-flex;
}
.intro h1 {
  margin-left: 10%;
  font-weight: bold;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
/*Caracteristicas sections*/
.sections .col-lg-3 {
  padding: 0 1%;
}

/* ----------Media queries---------- */
/*Para moviles (si menor o igual de 425px)*/
@media (max-width: 425px){
  .intro h1 {
    margin-left: 5%;
    font-size: 2em;
  }
  .intro .row {
    display: inline-block;
  }
  .contenido .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*Para tablet (si menor o igual de 768px)*/
@media (max-width: 768px){

}
/*Para PC (si menor o igual de 1024px)*/
@media (max-width: 1024px){
    .sections .col-lg-3 {
      padding: 0 15px;
    }
}
